@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 94.1%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 206 67% 80.2%;
    --primary-foreground: 206 42% 30%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 206 41.9% 49.6%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 206 41.9% 49.6%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 206 41.9% 49.6%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 206 67% 80.2%;
    --accent-foreground: 206 42% 30%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 206 67% 80.2%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  section {
    @apply w-full py-16 md:py-24 lg:py-32;
  }
}

@layer utilities {
  .animated-gradient {
    background-size: 200% 200%;
    background-image: linear-gradient(
      -45deg,
      hsl(var(--background)) 0%,
      hsl(var(--primary) / 0.5) 25%,
      hsl(var(--background)) 50%,
      hsl(var(--accent) / 0.5) 75%,
      hsl(var(--background)) 100%
    );
    animation: gradient 15s ease infinite;
  }

  .fade-in {
    animation: fadeIn 1s ease-in-out forwards;
  }
  .fade-in-up {
    animation: fadeInUp 1s ease-in-out forwards;
  }
  .fade-in-down {
     animation: fadeInDown 1s ease-in-out forwards;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
