@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5.9% 90%;
    --foreground: 240 10% 3.9%;
    --card: 240 4.8% 95.9%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 4.8% 95.9%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 270 95% 66%;
    --primary-foreground: 0 0% 98%;
    --secondary: 336 82% 59%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 48 96% 59%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 80%;
    --input: 240 5.9% 80%;
    --ring: 270 95% 66%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 270 95% 66%;
    --primary-foreground: 0 0% 98%;
    --secondary: 336 82% 59%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 48 96% 59%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 100% / 0.2;
    --input: 0 0% 100% / 0.1;
    --ring: 270 95% 66%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
<<<<<<< HEAD
  html {
    scroll-behavior: smooth;
  }
=======
>>>>>>> 9b17483b1c20511f609e0b2dbbc5b1795e822fb7
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  section {
    @apply w-full relative z-10 py-20 px-6 md:px-20;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-primary via-secondary to-accent bg-clip-text text-transparent;
  }
}
